<%= include('includes/top.tmpl') %>

    <div class="main">
        <ul class="cu_ch2_gps-images">
    		<li class="cu_ch2_gps-image_container cu_ch2_gps-image--city">
    			<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/482/all-city-cats_482_latest.jpg" data-width="482">City cats roaming range</div>
    		</li>
    		<li class="cu_ch2_gps-image_container cu_ch2_gps-image--farm">
    			<div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/482/all-farm-cats_482_latest.jpg" data-width="482">Farm cats roaming range</div>
    		</li>
    	</ul>
    </div>

<%= include('includes/bottom.tmpl') %>