<%= include('includes/top.tmpl') %>

    <div class="main">
        <div class="delayed-image-load family_tree__img" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/304/chap2_family_tree.png" data-width="304" style="width: 100%;">the cat family tree</div>
    </div>

<%= include('includes/bottom.tmpl') %>