<%= include('includes/top.tmpl') %>

    <div class="main">
        <ul class="cu_ch3_clickable_guide_key">
            <li class="cu_ch3_image_container">
                <div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/304/miss_piggy.jpg" data-width="320">
                </div>
                <div class="cu_ch3_key_container">
                    <span class="cu_ch3_square cu_ch3--miss_piggy"></span><span class="cu_ch3_catsname_text">Miss Piggy, 16</span>
                </div>
            </li>
            <li class="cu_ch3_image_container">
                <div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/304/buster.jpg" data-width="320">
                </div>
                <div class="cu_ch3_key_container">
                    <span class="cu_ch3_square cu_ch3--buster"></span><span class="cu_ch3_catsname_text">Buster, 7</span>
                </div>
            </li>
            <li class="cu_ch3_image_container"> 
                <div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/304/jasper.jpg" data-width="320">
                </div>
                <div class="cu_ch3_key_container">
                    <span class="cu_ch3_square cu_ch3--jasper"></span><span class="cu_ch3_catsname_text">Jasper, 13</span>
                </div>
            </li>
            <li class="cu_ch3_image_container">
                <div class="delayed-image-load" data-src="<%= pathStatic %>/<%= vocab_dir %>/img/304/pookie.jpg" data-width="320">
                </div>
                <div class="cu_ch3_key_container">
                    <span class="cu_ch3_square cu_ch3--pookie"></span><span class="cu_ch3_catsname_text">Pookie, 4</span>
                </div>
            </li>
        </ul>
    </div>

<%= include('includes/bottom.tmpl') %>