<%= include('includes/top.tmpl') %>

<div class="main">
    <ul class="cu-navigation">
        <li class="cu-navigation__item">
            <a class="cu-navigation__item__link" href="http://www.bbc.co.uk/news/magazine-28795300" target="_parent">What's it like<span class="cu-navigation__line-break"> </span>being a cat?</a>
        </li>
        <li class="cu-navigation__item disabled">
            <a class="cu-navigation__item__link" href="http://www.bbc.co.uk/news/magazine-28795301" target="_parent">The lion<span class="cu-navigation__line-break"> </span>in your lap</a>
        </li>
        <li class="cu-navigation__item">
            <a class="cu-navigation__item__link" href="http://www.bbc.co.uk/news/magazine-28795302" target="_parent">The 21st century<span class="cu-navigation__line-break"> </span>house cat</a>
        </li>
    </ul>
</div>

<script>
	document.body.className += ' full-width-mode';
</script>

<%= include('includes/bottom.tmpl') %>